In [55]:
import pandas as pd 

df = pd.read_csv("pima-indians-diabetes.data.csv")
df.head()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [83]:
from sklearn.linear_model import SGDClassifier
from sklearn.model_selection import train_test_split
from sklearn import preprocessing

display(df.head())

X = df.drop(['Class'], axis=1)
y = df['Class']

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Class
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [104]:
#############   Dividindo a base em treino e teste   ##################

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.15, shuffle = True)

#print(X_train.shape, X_test.shape, y_train.shape, y_test.shape)

display(X_train.describe())
display(y_train.describe())
display(X_test.describe())
display(y_test.describe())

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000,652.000000
mean,3.949387,120.559816,69.754601,20.432515,77.797546,32.130982,0.478936,33.625767
std,3.435902,32.147143,18.889066,16.135754,113.774383,7.614677,0.331083,11.794495
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.084000,21.000000
25%,1.000000,99.000000,64.000000,0.000000,0.000000,27.375000,0.248000,24.000000
50%,3.000000,117.000000,72.000000,23.000000,17.000000,32.150000,0.382500,30.000000
75%,6.000000,140.250000,80.000000,32.000000,125.000000,36.600000,0.630250,41.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,70.000000

count    652.000000
mean       0.354294
std        0.478666
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Class, dtype: float64

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000,116.000000
mean,3.258621,122.775862,65.456897,21.120690,91.051724,31.214655,0.432198,31.077586
std,2.913598,31.041651,21.520624,14.931237,123.091471,9.253383,0.331337,11.374381
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000
25%,1.000000,102.000000,60.000000,6.000000,0.000000,25.825000,0.204500,23.000000
50%,2.500000,117.000000,69.000000,23.500000,49.500000,31.200000,0.305000,28.000000
75%,5.000000,140.250000,78.000000,31.250000,130.500000,36.125000,0.564250,34.250000
max,12.000000,197.000000,110.000000,49.000000,579.000000,49.600000,1.893000,81.000000

count    116.000000
mean       0.318966
std        0.468098
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Class, dtype: float64

In [105]:
from sklearn.linear_model import SGDClassifier

sgd_clf = SGDClassifier(random_state=42)
sgd_clf.fit(X_train, y_train)

SGDClassifier(alpha=0.0001, average=False, class_weight=None,
              early_stopping=False, epsilon=0.1, eta0=0.0, fit_intercept=True,
              l1_ratio=0.15, learning_rate='optimal', loss='hinge',
              max_iter=1000, n_iter_no_change=5, n_jobs=None, penalty='l2',
              power_t=0.5, random_state=42, shuffle=True, tol=0.001,
              validation_fraction=0.1, verbose=0, warm_start=False)

In [106]:
from sklearn.metrics import confusion_matrix
y_pred = sgd_clf.predict(X_test)

cm = confusion_matrix(y_test, y_pred)
print(cm)

#Acertou 28 e errou 59
#Errou 2 e acertou 50

[[74  5]
 [33  4]]

In [107]:
from sklearn.metrics import classification_report

print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.69      0.94      0.80        79
           1       0.44      0.11      0.17        37

    accuracy                           0.67       116
   macro avg       0.57      0.52      0.48       116
weighted avg       0.61      0.67      0.60       116

In [108]:
from sklearn.metrics import accuracy_score

y_train_pred = sgd_clf.predict(X_train)
print("Accuracy Score", accuracy_score(y_test, y_pred)*100)

Accuracy Score 67.24137931034483

In [109]:
from sklearn.metrics import f1_score

print(f1_score(y_test, y_pred))

0.17391304347826086